*{
    background-color: #2a2a31;
    color: white
}
.center{
    text-align: center;
}
.underline{
    text-decoration: underline;
}
#idcrypter{
    text-align: center;
    color: darkorange;
}
.button input{
    border-radius: 8px;
    background-color: #04AA6D;
}